@keyframes emojiNodeInserted {
	from { clip: rect(1px, auto, auto, auto); }
	to { clip: rect(0px, auto, auto, auto); }
}

@-moz-keyframes emojiNodeInserted {
	from { clip: rect(1px, auto, auto, auto); }
	to { clip: rect(0px, auto, auto, auto); }
}

@-webkit-keyframes emojiNodeInserted {
	from { clip: rect(1px, auto, auto, auto); }
	to { clip: rect(0px, auto, auto, auto); }
}

@-ms-keyframes emojiNodeInserted {
	from { clip: rect(1px, auto, auto, auto); }
	to { clip: rect(0px, auto, auto, auto); }
}

@-o-keyframes emojiNodeInserted {
	from { clip: rect(1px, auto, auto, auto); }
	to { clip: rect(0px, auto, auto, auto); }
} 

#chat-messages > div {
	animation-duration: 0.001s;
	-o-animation-duration: 0.001s;
	-ms-animation-duration: 0.001s;
	-moz-animation-duration: 0.001s;
	-webkit-animation-duration: 0.001s;
	animation-name: emojiNodeInserted;
	-o-animation-name: emojiNodeInserted;
	-ms-animation-name: emojiNodeInserted;
	-moz-animation-name: emojiNodeInserted;
	-webkit-animation-name: emojiNodeInserted;
}

.jarplug-emoji {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url("emoji.png") no-repeat top left;
}
span.jarplug-emoji-0023{ background-position: 0 0; } 
span.jarplug-emoji-0030{ background-position: 0 -17px; } 
span.jarplug-emoji-0031{ background-position: 0 -34px; } 
span.jarplug-emoji-0032{ background-position: 0 -51px; } 
span.jarplug-emoji-0033{ background-position: 0 -68px; } 
span.jarplug-emoji-0034{ background-position: 0 -85px; } 
span.jarplug-emoji-0035{ background-position: 0 -102px; } 
span.jarplug-emoji-0036{ background-position: 0 -119px; } 
span.jarplug-emoji-0037{ background-position: 0 -136px; } 
span.jarplug-emoji-0038{ background-position: 0 -153px; } 
span.jarplug-emoji-0039{ background-position: 0 -170px; } 
span.jarplug-emoji-00a9{ background-position: 0 -187px; } 
span.jarplug-emoji-00ae{ background-position: 0 -204px; } 
span.jarplug-emoji-1f004{ background-position: 0 -221px; } 
span.jarplug-emoji-1f0cf{ background-position: 0 -238px; } 
span.jarplug-emoji-1f170{ background-position: 0 -255px; } 
span.jarplug-emoji-1f171{ background-position: 0 -272px; } 
span.jarplug-emoji-1f17e{ background-position: 0 -289px; } 
span.jarplug-emoji-1f17f{ background-position: 0 -306px; } 
span.jarplug-emoji-1f18e{ background-position: 0 -323px; } 
span.jarplug-emoji-1f191{ background-position: 0 -340px; } 
span.jarplug-emoji-1f192{ background-position: 0 -357px; } 
span.jarplug-emoji-1f193{ background-position: 0 -374px; } 
span.jarplug-emoji-1f194{ background-position: 0 -391px; } 
span.jarplug-emoji-1f195{ background-position: 0 -408px; } 
span.jarplug-emoji-1f196{ background-position: 0 -425px; } 
span.jarplug-emoji-1f197{ background-position: 0 -442px; } 
span.jarplug-emoji-1f198{ background-position: 0 -459px; } 
span.jarplug-emoji-1f199{ background-position: 0 -476px; } 
span.jarplug-emoji-1f19a{ background-position: 0 -493px; } 
span.jarplug-emoji-1f1e8-1f1f3{ background-position: 0 -510px; } 
span.jarplug-emoji-1f1e9-1f1ea{ background-position: 0 -527px; } 
span.jarplug-emoji-1f1ea-1f1f8{ background-position: 0 -544px; } 
span.jarplug-emoji-1f1eb-1f1f7{ background-position: 0 -561px; } 
span.jarplug-emoji-1f1ec-1f1e7{ background-position: 0 -578px; } 
span.jarplug-emoji-1f1ee-1f1f9{ background-position: 0 -595px; } 
span.jarplug-emoji-1f1ef-1f1f5{ background-position: 0 -612px; } 
span.jarplug-emoji-1f1f0-1f1f7{ background-position: 0 -629px; } 
span.jarplug-emoji-1f1f7-1f1fa{ background-position: 0 -646px; } 
span.jarplug-emoji-1f1fa-1f1f8{ background-position: 0 -663px; } 
span.jarplug-emoji-1f201{ background-position: 0 -680px; } 
span.jarplug-emoji-1f202{ background-position: 0 -697px; } 
span.jarplug-emoji-1f21a{ background-position: 0 -714px; } 
span.jarplug-emoji-1f22f{ background-position: 0 -731px; } 
span.jarplug-emoji-1f232{ background-position: 0 -748px; } 
span.jarplug-emoji-1f233{ background-position: 0 -765px; } 
span.jarplug-emoji-1f234{ background-position: 0 -782px; } 
span.jarplug-emoji-1f235{ background-position: 0 -799px; } 
span.jarplug-emoji-1f236{ background-position: 0 -816px; } 
span.jarplug-emoji-1f237{ background-position: 0 -833px; } 
span.jarplug-emoji-1f238{ background-position: 0 -850px; } 
span.jarplug-emoji-1f239{ background-position: 0 -867px; } 
span.jarplug-emoji-1f23a{ background-position: 0 -884px; } 
span.jarplug-emoji-1f250{ background-position: 0 -901px; } 
span.jarplug-emoji-1f251{ background-position: 0 -918px; } 
span.jarplug-emoji-1f300{ background-position: 0 -935px; } 
span.jarplug-emoji-1f301{ background-position: 0 -952px; } 
span.jarplug-emoji-1f302{ background-position: 0 -969px; } 
span.jarplug-emoji-1f303{ background-position: 0 -986px; } 
span.jarplug-emoji-1f304{ background-position: 0 -1003px; } 
span.jarplug-emoji-1f305{ background-position: 0 -1020px; } 
span.jarplug-emoji-1f306{ background-position: 0 -1037px; } 
span.jarplug-emoji-1f307{ background-position: 0 -1054px; } 
span.jarplug-emoji-1f308{ background-position: 0 -1071px; } 
span.jarplug-emoji-1f309{ background-position: 0 -1088px; } 
span.jarplug-emoji-1f30a{ background-position: 0 -1105px; } 
span.jarplug-emoji-1f30b{ background-position: 0 -1122px; } 
span.jarplug-emoji-1f30c{ background-position: 0 -1139px; } 
span.jarplug-emoji-1f30d{ background-position: 0 -1156px; } 
span.jarplug-emoji-1f30e{ background-position: 0 -1173px; } 
span.jarplug-emoji-1f30f{ background-position: 0 -1190px; } 
span.jarplug-emoji-1f310{ background-position: 0 -1207px; } 
span.jarplug-emoji-1f311{ background-position: 0 -1224px; } 
span.jarplug-emoji-1f312{ background-position: 0 -1241px; } 
span.jarplug-emoji-1f313{ background-position: 0 -1258px; } 
span.jarplug-emoji-1f314{ background-position: 0 -1275px; } 
span.jarplug-emoji-1f315{ background-position: 0 -1292px; } 
span.jarplug-emoji-1f316{ background-position: 0 -1309px; } 
span.jarplug-emoji-1f317{ background-position: 0 -1326px; } 
span.jarplug-emoji-1f318{ background-position: 0 -1343px; } 
span.jarplug-emoji-1f319{ background-position: 0 -1360px; } 
span.jarplug-emoji-1f31a{ background-position: 0 -1377px; } 
span.jarplug-emoji-1f31b{ background-position: 0 -1394px; } 
span.jarplug-emoji-1f31c{ background-position: 0 -1411px; } 
span.jarplug-emoji-1f31d{ background-position: 0 -1428px; } 
span.jarplug-emoji-1f31e{ background-position: 0 -1445px; } 
span.jarplug-emoji-1f31f{ background-position: 0 -1462px; } 
span.jarplug-emoji-1f330{ background-position: 0 -1479px; } 
span.jarplug-emoji-1f331{ background-position: 0 -1496px; } 
span.jarplug-emoji-1f332{ background-position: 0 -1513px; } 
span.jarplug-emoji-1f333{ background-position: 0 -1530px; } 
span.jarplug-emoji-1f334{ background-position: 0 -1547px; } 
span.jarplug-emoji-1f335{ background-position: 0 -1564px; } 
span.jarplug-emoji-1f337{ background-position: 0 -1581px; } 
span.jarplug-emoji-1f338{ background-position: 0 -1598px; } 
span.jarplug-emoji-1f339{ background-position: 0 -1615px; } 
span.jarplug-emoji-1f33a{ background-position: 0 -1632px; } 
span.jarplug-emoji-1f33b{ background-position: 0 -1649px; } 
span.jarplug-emoji-1f33c{ background-position: 0 -1666px; } 
span.jarplug-emoji-1f33d{ background-position: 0 -1683px; } 
span.jarplug-emoji-1f33e{ background-position: 0 -1700px; } 
span.jarplug-emoji-1f33f{ background-position: 0 -1717px; } 
span.jarplug-emoji-1f340{ background-position: 0 -1734px; } 
span.jarplug-emoji-1f341{ background-position: 0 -1751px; } 
span.jarplug-emoji-1f342{ background-position: 0 -1768px; } 
span.jarplug-emoji-1f343{ background-position: 0 -1785px; } 
span.jarplug-emoji-1f344{ background-position: 0 -1802px; } 
span.jarplug-emoji-1f345{ background-position: 0 -1819px; } 
span.jarplug-emoji-1f346{ background-position: 0 -1836px; } 
span.jarplug-emoji-1f347{ background-position: 0 -1853px; } 
span.jarplug-emoji-1f348{ background-position: 0 -1870px; } 
span.jarplug-emoji-1f349{ background-position: 0 -1887px; } 
span.jarplug-emoji-1f34a{ background-position: 0 -1904px; } 
span.jarplug-emoji-1f34b{ background-position: 0 -1921px; } 
span.jarplug-emoji-1f34c{ background-position: 0 -1938px; } 
span.jarplug-emoji-1f34d{ background-position: 0 -1955px; } 
span.jarplug-emoji-1f34e{ background-position: 0 -1972px; } 
span.jarplug-emoji-1f34f{ background-position: 0 -1989px; } 
span.jarplug-emoji-1f350{ background-position: -17px 0; } 
span.jarplug-emoji-1f351{ background-position: -17px -17px; } 
span.jarplug-emoji-1f352{ background-position: -17px -34px; } 
span.jarplug-emoji-1f353{ background-position: -17px -51px; } 
span.jarplug-emoji-1f354{ background-position: -17px -68px; } 
span.jarplug-emoji-1f355{ background-position: -17px -85px; } 
span.jarplug-emoji-1f356{ background-position: -17px -102px; } 
span.jarplug-emoji-1f357{ background-position: -17px -119px; } 
span.jarplug-emoji-1f358{ background-position: -17px -136px; } 
span.jarplug-emoji-1f359{ background-position: -17px -153px; } 
span.jarplug-emoji-1f35a{ background-position: -17px -170px; } 
span.jarplug-emoji-1f35b{ background-position: -17px -187px; } 
span.jarplug-emoji-1f35c{ background-position: -17px -204px; } 
span.jarplug-emoji-1f35d{ background-position: -17px -221px; } 
span.jarplug-emoji-1f35e{ background-position: -17px -238px; } 
span.jarplug-emoji-1f35f{ background-position: -17px -255px; } 
span.jarplug-emoji-1f360{ background-position: -17px -272px; } 
span.jarplug-emoji-1f361{ background-position: -17px -289px; } 
span.jarplug-emoji-1f362{ background-position: -17px -306px; } 
span.jarplug-emoji-1f363{ background-position: -17px -323px; } 
span.jarplug-emoji-1f364{ background-position: -17px -340px; } 
span.jarplug-emoji-1f365{ background-position: -17px -357px; } 
span.jarplug-emoji-1f366{ background-position: -17px -374px; } 
span.jarplug-emoji-1f367{ background-position: -17px -391px; } 
span.jarplug-emoji-1f368{ background-position: -17px -408px; } 
span.jarplug-emoji-1f369{ background-position: -17px -425px; } 
span.jarplug-emoji-1f36a{ background-position: -17px -442px; } 
span.jarplug-emoji-1f36b{ background-position: -17px -459px; } 
span.jarplug-emoji-1f36c{ background-position: -17px -476px; } 
span.jarplug-emoji-1f36d{ background-position: -17px -493px; } 
span.jarplug-emoji-1f36e{ background-position: -17px -510px; } 
span.jarplug-emoji-1f36f{ background-position: -17px -527px; } 
span.jarplug-emoji-1f370{ background-position: -17px -544px; } 
span.jarplug-emoji-1f371{ background-position: -17px -561px; } 
span.jarplug-emoji-1f372{ background-position: -17px -578px; } 
span.jarplug-emoji-1f373{ background-position: -17px -595px; } 
span.jarplug-emoji-1f374{ background-position: -17px -612px; } 
span.jarplug-emoji-1f375{ background-position: -17px -629px; } 
span.jarplug-emoji-1f376{ background-position: -17px -646px; } 
span.jarplug-emoji-1f377{ background-position: -17px -663px; } 
span.jarplug-emoji-1f378{ background-position: -17px -680px; } 
span.jarplug-emoji-1f379{ background-position: -17px -697px; } 
span.jarplug-emoji-1f37a{ background-position: -17px -714px; } 
span.jarplug-emoji-1f37b{ background-position: -17px -731px; } 
span.jarplug-emoji-1f37c{ background-position: -17px -748px; } 
span.jarplug-emoji-1f380{ background-position: -17px -765px; } 
span.jarplug-emoji-1f381{ background-position: -17px -782px; } 
span.jarplug-emoji-1f382{ background-position: -17px -799px; } 
span.jarplug-emoji-1f383{ background-position: -17px -816px; } 
span.jarplug-emoji-1f384{ background-position: -17px -833px; } 
span.jarplug-emoji-1f385{ background-position: -17px -850px; } 
span.jarplug-emoji-1f386{ background-position: -17px -867px; } 
span.jarplug-emoji-1f387{ background-position: -17px -884px; } 
span.jarplug-emoji-1f388{ background-position: -17px -901px; } 
span.jarplug-emoji-1f389{ background-position: -17px -918px; } 
span.jarplug-emoji-1f38a{ background-position: -17px -935px; } 
span.jarplug-emoji-1f38b{ background-position: -17px -952px; } 
span.jarplug-emoji-1f38c{ background-position: -17px -969px; } 
span.jarplug-emoji-1f38d{ background-position: -17px -986px; } 
span.jarplug-emoji-1f38e{ background-position: -17px -1003px; } 
span.jarplug-emoji-1f38f{ background-position: -17px -1020px; } 
span.jarplug-emoji-1f390{ background-position: -17px -1037px; } 
span.jarplug-emoji-1f391{ background-position: -17px -1054px; } 
span.jarplug-emoji-1f392{ background-position: -17px -1071px; } 
span.jarplug-emoji-1f393{ background-position: -17px -1088px; } 
span.jarplug-emoji-1f3a0{ background-position: -17px -1105px; } 
span.jarplug-emoji-1f3a1{ background-position: -17px -1122px; } 
span.jarplug-emoji-1f3a2{ background-position: -17px -1139px; } 
span.jarplug-emoji-1f3a3{ background-position: -17px -1156px; } 
span.jarplug-emoji-1f3a4{ background-position: -17px -1173px; } 
span.jarplug-emoji-1f3a5{ background-position: -17px -1190px; } 
span.jarplug-emoji-1f3a6{ background-position: -17px -1207px; } 
span.jarplug-emoji-1f3a7{ background-position: -17px -1224px; } 
span.jarplug-emoji-1f3a8{ background-position: -17px -1241px; } 
span.jarplug-emoji-1f3a9{ background-position: -17px -1258px; } 
span.jarplug-emoji-1f3aa{ background-position: -17px -1275px; } 
span.jarplug-emoji-1f3ab{ background-position: -17px -1292px; } 
span.jarplug-emoji-1f3ac{ background-position: -17px -1309px; } 
span.jarplug-emoji-1f3ad{ background-position: -17px -1326px; } 
span.jarplug-emoji-1f3ae{ background-position: -17px -1343px; } 
span.jarplug-emoji-1f3af{ background-position: -17px -1360px; } 
span.jarplug-emoji-1f3b0{ background-position: -17px -1377px; } 
span.jarplug-emoji-1f3b1{ background-position: -17px -1394px; } 
span.jarplug-emoji-1f3b2{ background-position: -17px -1411px; } 
span.jarplug-emoji-1f3b3{ background-position: -17px -1428px; } 
span.jarplug-emoji-1f3b4{ background-position: -17px -1445px; } 
span.jarplug-emoji-1f3b5{ background-position: -17px -1462px; } 
span.jarplug-emoji-1f3b6{ background-position: -17px -1479px; } 
span.jarplug-emoji-1f3b7{ background-position: -17px -1496px; } 
span.jarplug-emoji-1f3b8{ background-position: -17px -1513px; } 
span.jarplug-emoji-1f3b9{ background-position: -17px -1530px; } 
span.jarplug-emoji-1f3ba{ background-position: -17px -1547px; } 
span.jarplug-emoji-1f3bb{ background-position: -17px -1564px; } 
span.jarplug-emoji-1f3bc{ background-position: -17px -1581px; } 
span.jarplug-emoji-1f3bd{ background-position: -17px -1598px; } 
span.jarplug-emoji-1f3be{ background-position: -17px -1615px; } 
span.jarplug-emoji-1f3bf{ background-position: -17px -1632px; } 
span.jarplug-emoji-1f3c0{ background-position: -17px -1649px; } 
span.jarplug-emoji-1f3c1{ background-position: -17px -1666px; } 
span.jarplug-emoji-1f3c2{ background-position: -17px -1683px; } 
span.jarplug-emoji-1f3c3{ background-position: -17px -1700px; } 
span.jarplug-emoji-1f3c4{ background-position: -17px -1717px; } 
span.jarplug-emoji-1f3c6{ background-position: -17px -1734px; } 
span.jarplug-emoji-1f3c7{ background-position: -17px -1751px; } 
span.jarplug-emoji-1f3c8{ background-position: -17px -1768px; } 
span.jarplug-emoji-1f3c9{ background-position: -17px -1785px; } 
span.jarplug-emoji-1f3ca{ background-position: -17px -1802px; } 
span.jarplug-emoji-1f3e0{ background-position: -17px -1819px; } 
span.jarplug-emoji-1f3e1{ background-position: -17px -1836px; } 
span.jarplug-emoji-1f3e2{ background-position: -17px -1853px; } 
span.jarplug-emoji-1f3e3{ background-position: -17px -1870px; } 
span.jarplug-emoji-1f3e4{ background-position: -17px -1887px; } 
span.jarplug-emoji-1f3e5{ background-position: -17px -1904px; } 
span.jarplug-emoji-1f3e6{ background-position: -17px -1921px; } 
span.jarplug-emoji-1f3e7{ background-position: -17px -1938px; } 
span.jarplug-emoji-1f3e8{ background-position: -17px -1955px; } 
span.jarplug-emoji-1f3e9{ background-position: -17px -1972px; } 
span.jarplug-emoji-1f3ea{ background-position: -17px -1989px; } 
span.jarplug-emoji-1f3eb{ background-position: -34px 0; } 
span.jarplug-emoji-1f3ec{ background-position: -34px -17px; } 
span.jarplug-emoji-1f3ed{ background-position: -34px -34px; } 
span.jarplug-emoji-1f3ee{ background-position: -34px -51px; } 
span.jarplug-emoji-1f3ef{ background-position: -34px -68px; } 
span.jarplug-emoji-1f3f0{ background-position: -34px -85px; } 
span.jarplug-emoji-1f400{ background-position: -34px -102px; } 
span.jarplug-emoji-1f401{ background-position: -34px -119px; } 
span.jarplug-emoji-1f402{ background-position: -34px -136px; } 
span.jarplug-emoji-1f403{ background-position: -34px -153px; } 
span.jarplug-emoji-1f404{ background-position: -34px -170px; } 
span.jarplug-emoji-1f405{ background-position: -34px -187px; } 
span.jarplug-emoji-1f406{ background-position: -34px -204px; } 
span.jarplug-emoji-1f407{ background-position: -34px -221px; } 
span.jarplug-emoji-1f408{ background-position: -34px -238px; } 
span.jarplug-emoji-1f409{ background-position: -34px -255px; } 
span.jarplug-emoji-1f40a{ background-position: -34px -272px; } 
span.jarplug-emoji-1f40b{ background-position: -34px -289px; } 
span.jarplug-emoji-1f40c{ background-position: -34px -306px; } 
span.jarplug-emoji-1f40d{ background-position: -34px -323px; } 
span.jarplug-emoji-1f40e{ background-position: -34px -340px; } 
span.jarplug-emoji-1f40f{ background-position: -34px -357px; } 
span.jarplug-emoji-1f410{ background-position: -34px -374px; } 
span.jarplug-emoji-1f411{ background-position: -34px -391px; } 
span.jarplug-emoji-1f412{ background-position: -34px -408px; } 
span.jarplug-emoji-1f413{ background-position: -34px -425px; } 
span.jarplug-emoji-1f414{ background-position: -34px -442px; } 
span.jarplug-emoji-1f415{ background-position: -34px -459px; } 
span.jarplug-emoji-1f416{ background-position: -34px -476px; } 
span.jarplug-emoji-1f417{ background-position: -34px -493px; } 
span.jarplug-emoji-1f418{ background-position: -34px -510px; } 
span.jarplug-emoji-1f419{ background-position: -34px -527px; } 
span.jarplug-emoji-1f41a{ background-position: -34px -544px; } 
span.jarplug-emoji-1f41b{ background-position: -34px -561px; } 
span.jarplug-emoji-1f41c{ background-position: -34px -578px; } 
span.jarplug-emoji-1f41d{ background-position: -34px -595px; } 
span.jarplug-emoji-1f41e{ background-position: -34px -612px; } 
span.jarplug-emoji-1f41f{ background-position: -34px -629px; } 
span.jarplug-emoji-1f420{ background-position: -34px -646px; } 
span.jarplug-emoji-1f421{ background-position: -34px -663px; } 
span.jarplug-emoji-1f422{ background-position: -34px -680px; } 
span.jarplug-emoji-1f423{ background-position: -34px -697px; } 
span.jarplug-emoji-1f424{ background-position: -34px -714px; } 
span.jarplug-emoji-1f425{ background-position: -34px -731px; } 
span.jarplug-emoji-1f426{ background-position: -34px -748px; } 
span.jarplug-emoji-1f427{ background-position: -34px -765px; } 
span.jarplug-emoji-1f428{ background-position: -34px -782px; } 
span.jarplug-emoji-1f429{ background-position: -34px -799px; } 
span.jarplug-emoji-1f42a{ background-position: -34px -816px; } 
span.jarplug-emoji-1f42b{ background-position: -34px -833px; } 
span.jarplug-emoji-1f42c{ background-position: -34px -850px; } 
span.jarplug-emoji-1f42d{ background-position: -34px -867px; } 
span.jarplug-emoji-1f42e{ background-position: -34px -884px; } 
span.jarplug-emoji-1f42f{ background-position: -34px -901px; } 
span.jarplug-emoji-1f430{ background-position: -34px -918px; } 
span.jarplug-emoji-1f431{ background-position: -34px -935px; } 
span.jarplug-emoji-1f432{ background-position: -34px -952px; } 
span.jarplug-emoji-1f433{ background-position: -34px -969px; } 
span.jarplug-emoji-1f434{ background-position: -34px -986px; } 
span.jarplug-emoji-1f435{ background-position: -34px -1003px; } 
span.jarplug-emoji-1f436{ background-position: -34px -1020px; } 
span.jarplug-emoji-1f437{ background-position: -34px -1037px; } 
span.jarplug-emoji-1f438{ background-position: -34px -1054px; } 
span.jarplug-emoji-1f439{ background-position: -34px -1071px; } 
span.jarplug-emoji-1f43a{ background-position: -34px -1088px; } 
span.jarplug-emoji-1f43b{ background-position: -34px -1105px; } 
span.jarplug-emoji-1f43c{ background-position: -34px -1122px; } 
span.jarplug-emoji-1f43d{ background-position: -34px -1139px; } 
span.jarplug-emoji-1f43e{ background-position: -34px -1156px; } 
span.jarplug-emoji-1f440{ background-position: -34px -1173px; } 
span.jarplug-emoji-1f442{ background-position: -34px -1190px; } 
span.jarplug-emoji-1f443{ background-position: -34px -1207px; } 
span.jarplug-emoji-1f444{ background-position: -34px -1224px; } 
span.jarplug-emoji-1f445{ background-position: -34px -1241px; } 
span.jarplug-emoji-1f446{ background-position: -34px -1258px; } 
span.jarplug-emoji-1f447{ background-position: -34px -1275px; } 
span.jarplug-emoji-1f448{ background-position: -34px -1292px; } 
span.jarplug-emoji-1f449{ background-position: -34px -1309px; } 
span.jarplug-emoji-1f44a{ background-position: -34px -1326px; } 
span.jarplug-emoji-1f44b{ background-position: -34px -1343px; } 
span.jarplug-emoji-1f44c{ background-position: -34px -1360px; } 
span.jarplug-emoji-1f44d{ background-position: -34px -1377px; } 
span.jarplug-emoji-1f44e{ background-position: -34px -1394px; } 
span.jarplug-emoji-1f44f{ background-position: -34px -1411px; } 
span.jarplug-emoji-1f450{ background-position: -34px -1428px; } 
span.jarplug-emoji-1f451{ background-position: -34px -1445px; } 
span.jarplug-emoji-1f452{ background-position: -34px -1462px; } 
span.jarplug-emoji-1f453{ background-position: -34px -1479px; } 
span.jarplug-emoji-1f454{ background-position: -34px -1496px; } 
span.jarplug-emoji-1f455{ background-position: -34px -1513px; } 
span.jarplug-emoji-1f456{ background-position: -34px -1530px; } 
span.jarplug-emoji-1f457{ background-position: -34px -1547px; } 
span.jarplug-emoji-1f458{ background-position: -34px -1564px; } 
span.jarplug-emoji-1f459{ background-position: -34px -1581px; } 
span.jarplug-emoji-1f45a{ background-position: -34px -1598px; } 
span.jarplug-emoji-1f45b{ background-position: -34px -1615px; } 
span.jarplug-emoji-1f45c{ background-position: -34px -1632px; } 
span.jarplug-emoji-1f45d{ background-position: -34px -1649px; } 
span.jarplug-emoji-1f45e{ background-position: -34px -1666px; } 
span.jarplug-emoji-1f45f{ background-position: -34px -1683px; } 
span.jarplug-emoji-1f460{ background-position: -34px -1700px; } 
span.jarplug-emoji-1f461{ background-position: -34px -1717px; } 
span.jarplug-emoji-1f462{ background-position: -34px -1734px; } 
span.jarplug-emoji-1f463{ background-position: -34px -1751px; } 
span.jarplug-emoji-1f464{ background-position: -34px -1768px; } 
span.jarplug-emoji-1f465{ background-position: -34px -1785px; } 
span.jarplug-emoji-1f466{ background-position: -34px -1802px; } 
span.jarplug-emoji-1f467{ background-position: -34px -1819px; } 
span.jarplug-emoji-1f468{ background-position: -34px -1836px; } 
span.jarplug-emoji-1f469{ background-position: -34px -1853px; } 
span.jarplug-emoji-1f46a{ background-position: -34px -1870px; } 
span.jarplug-emoji-1f46b{ background-position: -34px -1887px; } 
span.jarplug-emoji-1f46c{ background-position: -34px -1904px; } 
span.jarplug-emoji-1f46d{ background-position: -34px -1921px; } 
span.jarplug-emoji-1f46e{ background-position: -34px -1938px; } 
span.jarplug-emoji-1f46f{ background-position: -34px -1955px; } 
span.jarplug-emoji-1f470{ background-position: -34px -1972px; } 
span.jarplug-emoji-1f471{ background-position: -34px -1989px; } 
span.jarplug-emoji-1f472{ background-position: -51px 0; } 
span.jarplug-emoji-1f473{ background-position: -51px -17px; } 
span.jarplug-emoji-1f474{ background-position: -51px -34px; } 
span.jarplug-emoji-1f475{ background-position: -51px -51px; } 
span.jarplug-emoji-1f476{ background-position: -51px -68px; } 
span.jarplug-emoji-1f477{ background-position: -51px -85px; } 
span.jarplug-emoji-1f478{ background-position: -51px -102px; } 
span.jarplug-emoji-1f479{ background-position: -51px -119px; } 
span.jarplug-emoji-1f47a{ background-position: -51px -136px; } 
span.jarplug-emoji-1f47b{ background-position: -51px -153px; } 
span.jarplug-emoji-1f47c{ background-position: -51px -170px; } 
span.jarplug-emoji-1f47d{ background-position: -51px -187px; } 
span.jarplug-emoji-1f47e{ background-position: -51px -204px; } 
span.jarplug-emoji-1f47f{ background-position: -51px -221px; } 
span.jarplug-emoji-1f480{ background-position: -51px -238px; } 
span.jarplug-emoji-1f481{ background-position: -51px -255px; } 
span.jarplug-emoji-1f482{ background-position: -51px -272px; } 
span.jarplug-emoji-1f483{ background-position: -51px -289px; } 
span.jarplug-emoji-1f484{ background-position: -51px -306px; } 
span.jarplug-emoji-1f485{ background-position: -51px -323px; } 
span.jarplug-emoji-1f486{ background-position: -51px -340px; } 
span.jarplug-emoji-1f487{ background-position: -51px -357px; } 
span.jarplug-emoji-1f488{ background-position: -51px -374px; } 
span.jarplug-emoji-1f489{ background-position: -51px -391px; } 
span.jarplug-emoji-1f48a{ background-position: -51px -408px; } 
span.jarplug-emoji-1f48b{ background-position: -51px -425px; } 
span.jarplug-emoji-1f48c{ background-position: -51px -442px; } 
span.jarplug-emoji-1f48d{ background-position: -51px -459px; } 
span.jarplug-emoji-1f48e{ background-position: -51px -476px; } 
span.jarplug-emoji-1f48f{ background-position: -51px -493px; } 
span.jarplug-emoji-1f490{ background-position: -51px -510px; } 
span.jarplug-emoji-1f491{ background-position: -51px -527px; } 
span.jarplug-emoji-1f492{ background-position: -51px -544px; } 
span.jarplug-emoji-1f493{ background-position: -51px -561px; } 
span.jarplug-emoji-1f494{ background-position: -51px -578px; } 
span.jarplug-emoji-1f495{ background-position: -51px -595px; } 
span.jarplug-emoji-1f496{ background-position: -51px -612px; } 
span.jarplug-emoji-1f497{ background-position: -51px -629px; } 
span.jarplug-emoji-1f498{ background-position: -51px -646px; } 
span.jarplug-emoji-1f499{ background-position: -51px -663px; } 
span.jarplug-emoji-1f49a{ background-position: -51px -680px; } 
span.jarplug-emoji-1f49b{ background-position: -51px -697px; } 
span.jarplug-emoji-1f49c{ background-position: -51px -714px; } 
span.jarplug-emoji-1f49d{ background-position: -51px -731px; } 
span.jarplug-emoji-1f49e{ background-position: -51px -748px; } 
span.jarplug-emoji-1f49f{ background-position: -51px -765px; } 
span.jarplug-emoji-1f4a0{ background-position: -51px -782px; } 
span.jarplug-emoji-1f4a1{ background-position: -51px -799px; } 
span.jarplug-emoji-1f4a2{ background-position: -51px -816px; } 
span.jarplug-emoji-1f4a3{ background-position: -51px -833px; } 
span.jarplug-emoji-1f4a4{ background-position: -51px -850px; } 
span.jarplug-emoji-1f4a5{ background-position: -51px -867px; } 
span.jarplug-emoji-1f4a6{ background-position: -51px -884px; } 
span.jarplug-emoji-1f4a7{ background-position: -51px -901px; } 
span.jarplug-emoji-1f4a8{ background-position: -51px -918px; } 
span.jarplug-emoji-1f4a9{ background-position: -51px -935px; } 
span.jarplug-emoji-1f4aa{ background-position: -51px -952px; } 
span.jarplug-emoji-1f4ab{ background-position: -51px -969px; } 
span.jarplug-emoji-1f4ac{ background-position: -51px -986px; } 
span.jarplug-emoji-1f4ad{ background-position: -51px -1003px; } 
span.jarplug-emoji-1f4ae{ background-position: -51px -1020px; } 
span.jarplug-emoji-1f4af{ background-position: -51px -1037px; } 
span.jarplug-emoji-1f4b0{ background-position: -51px -1054px; } 
span.jarplug-emoji-1f4b1{ background-position: -51px -1071px; } 
span.jarplug-emoji-1f4b2{ background-position: -51px -1088px; } 
span.jarplug-emoji-1f4b3{ background-position: -51px -1105px; } 
span.jarplug-emoji-1f4b4{ background-position: -51px -1122px; } 
span.jarplug-emoji-1f4b5{ background-position: -51px -1139px; } 
span.jarplug-emoji-1f4b6{ background-position: -51px -1156px; } 
span.jarplug-emoji-1f4b7{ background-position: -51px -1173px; } 
span.jarplug-emoji-1f4b8{ background-position: -51px -1190px; } 
span.jarplug-emoji-1f4b9{ background-position: -51px -1207px; } 
span.jarplug-emoji-1f4ba{ background-position: -51px -1224px; } 
span.jarplug-emoji-1f4bb{ background-position: -51px -1241px; } 
span.jarplug-emoji-1f4bc{ background-position: -51px -1258px; } 
span.jarplug-emoji-1f4bd{ background-position: -51px -1275px; } 
span.jarplug-emoji-1f4be{ background-position: -51px -1292px; } 
span.jarplug-emoji-1f4bf{ background-position: -51px -1309px; } 
span.jarplug-emoji-1f4c0{ background-position: -51px -1326px; } 
span.jarplug-emoji-1f4c1{ background-position: -51px -1343px; } 
span.jarplug-emoji-1f4c2{ background-position: -51px -1360px; } 
span.jarplug-emoji-1f4c3{ background-position: -51px -1377px; } 
span.jarplug-emoji-1f4c4{ background-position: -51px -1394px; } 
span.jarplug-emoji-1f4c5{ background-position: -51px -1411px; } 
span.jarplug-emoji-1f4c6{ background-position: -51px -1428px; } 
span.jarplug-emoji-1f4c7{ background-position: -51px -1445px; } 
span.jarplug-emoji-1f4c8{ background-position: -51px -1462px; } 
span.jarplug-emoji-1f4c9{ background-position: -51px -1479px; } 
span.jarplug-emoji-1f4ca{ background-position: -51px -1496px; } 
span.jarplug-emoji-1f4cb{ background-position: -51px -1513px; } 
span.jarplug-emoji-1f4cc{ background-position: -51px -1530px; } 
span.jarplug-emoji-1f4cd{ background-position: -51px -1547px; } 
span.jarplug-emoji-1f4ce{ background-position: -51px -1564px; } 
span.jarplug-emoji-1f4cf{ background-position: -51px -1581px; } 
span.jarplug-emoji-1f4d0{ background-position: -51px -1598px; } 
span.jarplug-emoji-1f4d1{ background-position: -51px -1615px; } 
span.jarplug-emoji-1f4d2{ background-position: -51px -1632px; } 
span.jarplug-emoji-1f4d3{ background-position: -51px -1649px; } 
span.jarplug-emoji-1f4d4{ background-position: -51px -1666px; } 
span.jarplug-emoji-1f4d5{ background-position: -51px -1683px; } 
span.jarplug-emoji-1f4d6{ background-position: -51px -1700px; } 
span.jarplug-emoji-1f4d7{ background-position: -51px -1717px; } 
span.jarplug-emoji-1f4d8{ background-position: -51px -1734px; } 
span.jarplug-emoji-1f4d9{ background-position: -51px -1751px; } 
span.jarplug-emoji-1f4da{ background-position: -51px -1768px; } 
span.jarplug-emoji-1f4db{ background-position: -51px -1785px; } 
span.jarplug-emoji-1f4dc{ background-position: -51px -1802px; } 
span.jarplug-emoji-1f4dd{ background-position: -51px -1819px; } 
span.jarplug-emoji-1f4de{ background-position: -51px -1836px; } 
span.jarplug-emoji-1f4df{ background-position: -51px -1853px; } 
span.jarplug-emoji-1f4e0{ background-position: -51px -1870px; } 
span.jarplug-emoji-1f4e1{ background-position: -51px -1887px; } 
span.jarplug-emoji-1f4e2{ background-position: -51px -1904px; } 
span.jarplug-emoji-1f4e3{ background-position: -51px -1921px; } 
span.jarplug-emoji-1f4e4{ background-position: -51px -1938px; } 
span.jarplug-emoji-1f4e5{ background-position: -51px -1955px; } 
span.jarplug-emoji-1f4e6{ background-position: -51px -1972px; } 
span.jarplug-emoji-1f4e7{ background-position: -51px -1989px; } 
span.jarplug-emoji-1f4e8{ background-position: -68px 0; } 
span.jarplug-emoji-1f4e9{ background-position: -68px -17px; } 
span.jarplug-emoji-1f4ea{ background-position: -68px -34px; } 
span.jarplug-emoji-1f4eb{ background-position: -68px -51px; } 
span.jarplug-emoji-1f4ec{ background-position: -68px -68px; } 
span.jarplug-emoji-1f4ed{ background-position: -68px -85px; } 
span.jarplug-emoji-1f4ee{ background-position: -68px -102px; } 
span.jarplug-emoji-1f4ef{ background-position: -68px -119px; } 
span.jarplug-emoji-1f4f0{ background-position: -68px -136px; } 
span.jarplug-emoji-1f4f1{ background-position: -68px -153px; } 
span.jarplug-emoji-1f4f2{ background-position: -68px -170px; } 
span.jarplug-emoji-1f4f3{ background-position: -68px -187px; } 
span.jarplug-emoji-1f4f4{ background-position: -68px -204px; } 
span.jarplug-emoji-1f4f5{ background-position: -68px -221px; } 
span.jarplug-emoji-1f4f6{ background-position: -68px -238px; } 
span.jarplug-emoji-1f4f7{ background-position: -68px -255px; } 
span.jarplug-emoji-1f4f9{ background-position: -68px -272px; } 
span.jarplug-emoji-1f4fa{ background-position: -68px -289px; } 
span.jarplug-emoji-1f4fb{ background-position: -68px -306px; } 
span.jarplug-emoji-1f4fc{ background-position: -68px -323px; } 
span.jarplug-emoji-1f500{ background-position: -68px -340px; } 
span.jarplug-emoji-1f501{ background-position: -68px -357px; } 
span.jarplug-emoji-1f502{ background-position: -68px -374px; } 
span.jarplug-emoji-1f503{ background-position: -68px -391px; } 
span.jarplug-emoji-1f504{ background-position: -68px -408px; } 
span.jarplug-emoji-1f505{ background-position: -68px -425px; } 
span.jarplug-emoji-1f506{ background-position: -68px -442px; } 
span.jarplug-emoji-1f507{ background-position: -68px -459px; } 
span.jarplug-emoji-1f509{ background-position: -68px -476px; } 
span.jarplug-emoji-1f50a{ background-position: -68px -493px; } 
span.jarplug-emoji-1f50b{ background-position: -68px -510px; } 
span.jarplug-emoji-1f50c{ background-position: -68px -527px; } 
span.jarplug-emoji-1f50d{ background-position: -68px -544px; } 
span.jarplug-emoji-1f50e{ background-position: -68px -561px; } 
span.jarplug-emoji-1f50f{ background-position: -68px -578px; } 
span.jarplug-emoji-1f510{ background-position: -68px -595px; } 
span.jarplug-emoji-1f511{ background-position: -68px -612px; } 
span.jarplug-emoji-1f512{ background-position: -68px -629px; } 
span.jarplug-emoji-1f513{ background-position: -68px -646px; } 
span.jarplug-emoji-1f514{ background-position: -68px -663px; } 
span.jarplug-emoji-1f515{ background-position: -68px -680px; } 
span.jarplug-emoji-1f516{ background-position: -68px -697px; } 
span.jarplug-emoji-1f517{ background-position: -68px -714px; } 
span.jarplug-emoji-1f518{ background-position: -68px -731px; } 
span.jarplug-emoji-1f519{ background-position: -68px -748px; } 
span.jarplug-emoji-1f51a{ background-position: -68px -765px; } 
span.jarplug-emoji-1f51b{ background-position: -68px -782px; } 
span.jarplug-emoji-1f51c{ background-position: -68px -799px; } 
span.jarplug-emoji-1f51d{ background-position: -68px -816px; } 
span.jarplug-emoji-1f51e{ background-position: -68px -833px; } 
span.jarplug-emoji-1f51f{ background-position: -68px -850px; } 
span.jarplug-emoji-1f520{ background-position: -68px -867px; } 
span.jarplug-emoji-1f521{ background-position: -68px -884px; } 
span.jarplug-emoji-1f522{ background-position: -68px -901px; } 
span.jarplug-emoji-1f523{ background-position: -68px -918px; } 
span.jarplug-emoji-1f524{ background-position: -68px -935px; } 
span.jarplug-emoji-1f525{ background-position: -68px -952px; } 
span.jarplug-emoji-1f526{ background-position: -68px -969px; } 
span.jarplug-emoji-1f527{ background-position: -68px -986px; } 
span.jarplug-emoji-1f528{ background-position: -68px -1003px; } 
span.jarplug-emoji-1f529{ background-position: -68px -1020px; } 
span.jarplug-emoji-1f52a{ background-position: -68px -1037px; } 
span.jarplug-emoji-1f52b{ background-position: -68px -1054px; } 
span.jarplug-emoji-1f52c{ background-position: -68px -1071px; } 
span.jarplug-emoji-1f52d{ background-position: -68px -1088px; } 
span.jarplug-emoji-1f52e{ background-position: -68px -1105px; } 
span.jarplug-emoji-1f52f{ background-position: -68px -1122px; } 
span.jarplug-emoji-1f530{ background-position: -68px -1139px; } 
span.jarplug-emoji-1f531{ background-position: -68px -1156px; } 
span.jarplug-emoji-1f532{ background-position: -68px -1173px; } 
span.jarplug-emoji-1f533{ background-position: -68px -1190px; } 
span.jarplug-emoji-1f534{ background-position: -68px -1207px; } 
span.jarplug-emoji-1f535{ background-position: -68px -1224px; } 
span.jarplug-emoji-1f536{ background-position: -68px -1241px; } 
span.jarplug-emoji-1f537{ background-position: -68px -1258px; } 
span.jarplug-emoji-1f538{ background-position: -68px -1275px; } 
span.jarplug-emoji-1f539{ background-position: -68px -1292px; } 
span.jarplug-emoji-1f53a{ background-position: -68px -1309px; } 
span.jarplug-emoji-1f53b{ background-position: -68px -1326px; } 
span.jarplug-emoji-1f53c{ background-position: -68px -1343px; } 
span.jarplug-emoji-1f53d{ background-position: -68px -1360px; } 
span.jarplug-emoji-1f550{ background-position: -68px -1377px; } 
span.jarplug-emoji-1f551{ background-position: -68px -1394px; } 
span.jarplug-emoji-1f552{ background-position: -68px -1411px; } 
span.jarplug-emoji-1f553{ background-position: -68px -1428px; } 
span.jarplug-emoji-1f554{ background-position: -68px -1445px; } 
span.jarplug-emoji-1f555{ background-position: -68px -1462px; } 
span.jarplug-emoji-1f556{ background-position: -68px -1479px; } 
span.jarplug-emoji-1f557{ background-position: -68px -1496px; } 
span.jarplug-emoji-1f558{ background-position: -68px -1513px; } 
span.jarplug-emoji-1f559{ background-position: -68px -1530px; } 
span.jarplug-emoji-1f55a{ background-position: -68px -1547px; } 
span.jarplug-emoji-1f55b{ background-position: -68px -1564px; } 
span.jarplug-emoji-1f55c{ background-position: -68px -1581px; } 
span.jarplug-emoji-1f55d{ background-position: -68px -1598px; } 
span.jarplug-emoji-1f55e{ background-position: -68px -1615px; } 
span.jarplug-emoji-1f55f{ background-position: -68px -1632px; } 
span.jarplug-emoji-1f560{ background-position: -68px -1649px; } 
span.jarplug-emoji-1f561{ background-position: -68px -1666px; } 
span.jarplug-emoji-1f562{ background-position: -68px -1683px; } 
span.jarplug-emoji-1f563{ background-position: -68px -1700px; } 
span.jarplug-emoji-1f564{ background-position: -68px -1717px; } 
span.jarplug-emoji-1f565{ background-position: -68px -1734px; } 
span.jarplug-emoji-1f566{ background-position: -68px -1751px; } 
span.jarplug-emoji-1f567{ background-position: -68px -1768px; } 
span.jarplug-emoji-1f5fb{ background-position: -68px -1785px; } 
span.jarplug-emoji-1f5fc{ background-position: -68px -1802px; } 
span.jarplug-emoji-1f5fd{ background-position: -68px -1819px; } 
span.jarplug-emoji-1f5fe{ background-position: -68px -1836px; } 
span.jarplug-emoji-1f5ff{ background-position: -68px -1853px; } 
span.jarplug-emoji-1f600{ background-position: -68px -1870px; } 
span.jarplug-emoji-1f601{ background-position: -68px -1887px; } 
span.jarplug-emoji-1f602{ background-position: -68px -1904px; } 
span.jarplug-emoji-1f603{ background-position: -68px -1921px; } 
span.jarplug-emoji-1f604{ background-position: -68px -1938px; } 
span.jarplug-emoji-1f605{ background-position: -68px -1955px; } 
span.jarplug-emoji-1f606{ background-position: -68px -1972px; } 
span.jarplug-emoji-1f607{ background-position: -68px -1989px; } 
span.jarplug-emoji-1f608{ background-position: -85px 0; } 
span.jarplug-emoji-1f609{ background-position: -85px -17px; } 
span.jarplug-emoji-1f60a{ background-position: -85px -34px; } 
span.jarplug-emoji-1f60b{ background-position: -85px -51px; } 
span.jarplug-emoji-1f60c{ background-position: -85px -68px; } 
span.jarplug-emoji-1f60d{ background-position: -85px -85px; } 
span.jarplug-emoji-1f60e{ background-position: -85px -102px; } 
span.jarplug-emoji-1f60f{ background-position: -85px -119px; } 
span.jarplug-emoji-1f610{ background-position: -85px -136px; } 
span.jarplug-emoji-1f611{ background-position: -85px -153px; } 
span.jarplug-emoji-1f612{ background-position: -85px -170px; } 
span.jarplug-emoji-1f613{ background-position: -85px -187px; } 
span.jarplug-emoji-1f614{ background-position: -85px -204px; } 
span.jarplug-emoji-1f615{ background-position: -85px -221px; } 
span.jarplug-emoji-1f616{ background-position: -85px -238px; } 
span.jarplug-emoji-1f617{ background-position: -85px -255px; } 
span.jarplug-emoji-1f618{ background-position: -85px -272px; } 
span.jarplug-emoji-1f619{ background-position: -85px -289px; } 
span.jarplug-emoji-1f61a{ background-position: -85px -306px; } 
span.jarplug-emoji-1f61b{ background-position: -85px -323px; } 
span.jarplug-emoji-1f61c{ background-position: -85px -340px; } 
span.jarplug-emoji-1f61d{ background-position: -85px -357px; } 
span.jarplug-emoji-1f61e{ background-position: -85px -374px; } 
span.jarplug-emoji-1f61f{ background-position: -85px -391px; } 
span.jarplug-emoji-1f620{ background-position: -85px -408px; } 
span.jarplug-emoji-1f621{ background-position: -85px -425px; } 
span.jarplug-emoji-1f622{ background-position: -85px -442px; } 
span.jarplug-emoji-1f623{ background-position: -85px -459px; } 
span.jarplug-emoji-1f624{ background-position: -85px -476px; } 
span.jarplug-emoji-1f625{ background-position: -85px -493px; } 
span.jarplug-emoji-1f626{ background-position: -85px -510px; } 
span.jarplug-emoji-1f627{ background-position: -85px -527px; } 
span.jarplug-emoji-1f628{ background-position: -85px -544px; } 
span.jarplug-emoji-1f629{ background-position: -85px -561px; } 
span.jarplug-emoji-1f62a{ background-position: -85px -578px; } 
span.jarplug-emoji-1f62b{ background-position: -85px -595px; } 
span.jarplug-emoji-1f62c{ background-position: -85px -612px; } 
span.jarplug-emoji-1f62d{ background-position: -85px -629px; } 
span.jarplug-emoji-1f62e{ background-position: -85px -646px; } 
span.jarplug-emoji-1f62f{ background-position: -85px -663px; } 
span.jarplug-emoji-1f630{ background-position: -85px -680px; } 
span.jarplug-emoji-1f631{ background-position: -85px -697px; } 
span.jarplug-emoji-1f632{ background-position: -85px -714px; } 
span.jarplug-emoji-1f633{ background-position: -85px -731px; } 
span.jarplug-emoji-1f634{ background-position: -85px -748px; } 
span.jarplug-emoji-1f635{ background-position: -85px -765px; } 
span.jarplug-emoji-1f636{ background-position: -85px -782px; } 
span.jarplug-emoji-1f637{ background-position: -85px -799px; } 
span.jarplug-emoji-1f638{ background-position: -85px -816px; } 
span.jarplug-emoji-1f639{ background-position: -85px -833px; } 
span.jarplug-emoji-1f63a{ background-position: -85px -850px; } 
span.jarplug-emoji-1f63b{ background-position: -85px -867px; } 
span.jarplug-emoji-1f63c{ background-position: -85px -884px; } 
span.jarplug-emoji-1f63d{ background-position: -85px -901px; } 
span.jarplug-emoji-1f63e{ background-position: -85px -918px; } 
span.jarplug-emoji-1f63f{ background-position: -85px -935px; } 
span.jarplug-emoji-1f640{ background-position: -85px -952px; } 
span.jarplug-emoji-1f645{ background-position: -85px -969px; } 
span.jarplug-emoji-1f646{ background-position: -85px -986px; } 
span.jarplug-emoji-1f647{ background-position: -85px -1003px; } 
span.jarplug-emoji-1f648{ background-position: -85px -1020px; } 
span.jarplug-emoji-1f649{ background-position: -85px -1037px; } 
span.jarplug-emoji-1f64a{ background-position: -85px -1054px; } 
span.jarplug-emoji-1f64b{ background-position: -85px -1071px; } 
span.jarplug-emoji-1f64c{ background-position: -85px -1088px; } 
span.jarplug-emoji-1f64d{ background-position: -85px -1105px; } 
span.jarplug-emoji-1f64e{ background-position: -85px -1122px; } 
span.jarplug-emoji-1f64f{ background-position: -85px -1139px; } 
span.jarplug-emoji-1f680{ background-position: -85px -1156px; } 
span.jarplug-emoji-1f681{ background-position: -85px -1173px; } 
span.jarplug-emoji-1f682{ background-position: -85px -1190px; } 
span.jarplug-emoji-1f683{ background-position: -85px -1207px; } 
span.jarplug-emoji-1f684{ background-position: -85px -1224px; } 
span.jarplug-emoji-1f685{ background-position: -85px -1241px; } 
span.jarplug-emoji-1f686{ background-position: -85px -1258px; } 
span.jarplug-emoji-1f687{ background-position: -85px -1275px; } 
span.jarplug-emoji-1f688{ background-position: -85px -1292px; } 
span.jarplug-emoji-1f689{ background-position: -85px -1309px; } 
span.jarplug-emoji-1f68a{ background-position: -85px -1326px; } 
span.jarplug-emoji-1f68c{ background-position: -85px -1343px; } 
span.jarplug-emoji-1f68d{ background-position: -85px -1360px; } 
span.jarplug-emoji-1f68e{ background-position: -85px -1377px; } 
span.jarplug-emoji-1f68f{ background-position: -85px -1394px; } 
span.jarplug-emoji-1f690{ background-position: -85px -1411px; } 
span.jarplug-emoji-1f691{ background-position: -85px -1428px; } 
span.jarplug-emoji-1f692{ background-position: -85px -1445px; } 
span.jarplug-emoji-1f693{ background-position: -85px -1462px; } 
span.jarplug-emoji-1f694{ background-position: -85px -1479px; } 
span.jarplug-emoji-1f695{ background-position: -85px -1496px; } 
span.jarplug-emoji-1f696{ background-position: -85px -1513px; } 
span.jarplug-emoji-1f697{ background-position: -85px -1530px; } 
span.jarplug-emoji-1f698{ background-position: -85px -1547px; } 
span.jarplug-emoji-1f699{ background-position: -85px -1564px; } 
span.jarplug-emoji-1f69a{ background-position: -85px -1581px; } 
span.jarplug-emoji-1f69b{ background-position: -85px -1598px; } 
span.jarplug-emoji-1f69c{ background-position: -85px -1615px; } 
span.jarplug-emoji-1f69d{ background-position: -85px -1632px; } 
span.jarplug-emoji-1f69e{ background-position: -85px -1649px; } 
span.jarplug-emoji-1f69f{ background-position: -85px -1666px; } 
span.jarplug-emoji-1f6a0{ background-position: -85px -1683px; } 
span.jarplug-emoji-1f6a1{ background-position: -85px -1700px; } 
span.jarplug-emoji-1f6a2{ background-position: -85px -1717px; } 
span.jarplug-emoji-1f6a3{ background-position: -85px -1734px; } 
span.jarplug-emoji-1f6a4{ background-position: -85px -1751px; } 
span.jarplug-emoji-1f6a5{ background-position: -85px -1768px; } 
span.jarplug-emoji-1f6a6{ background-position: -85px -1785px; } 
span.jarplug-emoji-1f6a7{ background-position: -85px -1802px; } 
span.jarplug-emoji-1f6a8{ background-position: -85px -1819px; } 
span.jarplug-emoji-1f6a9{ background-position: -85px -1836px; } 
span.jarplug-emoji-1f6aa{ background-position: -85px -1853px; } 
span.jarplug-emoji-1f6ab{ background-position: -85px -1870px; } 
span.jarplug-emoji-1f6ac{ background-position: -85px -1887px; } 
span.jarplug-emoji-1f6ad{ background-position: -85px -1904px; } 
span.jarplug-emoji-1f6ae{ background-position: -85px -1921px; } 
span.jarplug-emoji-1f6af{ background-position: -85px -1938px; } 
span.jarplug-emoji-1f6b0{ background-position: -85px -1955px; } 
span.jarplug-emoji-1f6b1{ background-position: -85px -1972px; } 
span.jarplug-emoji-1f6b2{ background-position: -85px -1989px; } 
span.jarplug-emoji-1f6b3{ background-position: -102px 0; } 
span.jarplug-emoji-1f6b4{ background-position: -102px -17px; } 
span.jarplug-emoji-1f6b5{ background-position: -102px -34px; } 
span.jarplug-emoji-1f6b6{ background-position: -102px -51px; } 
span.jarplug-emoji-1f6b7{ background-position: -102px -68px; } 
span.jarplug-emoji-1f6b8{ background-position: -102px -85px; } 
span.jarplug-emoji-1f6b9{ background-position: -102px -102px; } 
span.jarplug-emoji-1f6ba{ background-position: -102px -119px; } 
span.jarplug-emoji-1f6bb{ background-position: -102px -136px; } 
span.jarplug-emoji-1f6bc{ background-position: -102px -153px; } 
span.jarplug-emoji-1f6bd{ background-position: -102px -170px; } 
span.jarplug-emoji-1f6be{ background-position: -102px -187px; } 
span.jarplug-emoji-1f6bf{ background-position: -102px -204px; } 
span.jarplug-emoji-1f6c0{ background-position: -102px -221px; } 
span.jarplug-emoji-1f6c1{ background-position: -102px -238px; } 
span.jarplug-emoji-1f6c2{ background-position: -102px -255px; } 
span.jarplug-emoji-1f6c3{ background-position: -102px -272px; } 
span.jarplug-emoji-1f6c4{ background-position: -102px -289px; } 
span.jarplug-emoji-1f6c5{ background-position: -102px -306px; } 
span.jarplug-emoji-203c{ background-position: -102px -323px; } 
span.jarplug-emoji-2049{ background-position: -102px -340px; } 
span.jarplug-emoji-2122{ background-position: -102px -357px; } 
span.jarplug-emoji-2139{ background-position: -102px -374px; } 
span.jarplug-emoji-2194{ background-position: -102px -391px; } 
span.jarplug-emoji-2195{ background-position: -102px -408px; } 
span.jarplug-emoji-2196{ background-position: -102px -425px; } 
span.jarplug-emoji-2197{ background-position: -102px -442px; } 
span.jarplug-emoji-2198{ background-position: -102px -459px; } 
span.jarplug-emoji-2199{ background-position: -102px -476px; } 
span.jarplug-emoji-21a9{ background-position: -102px -493px; } 
span.jarplug-emoji-21aa{ background-position: -102px -510px; } 
span.jarplug-emoji-231a{ background-position: -102px -527px; } 
span.jarplug-emoji-231b{ background-position: -102px -544px; } 
span.jarplug-emoji-23e9{ background-position: -102px -561px; } 
span.jarplug-emoji-23ea{ background-position: -102px -578px; } 
span.jarplug-emoji-23eb{ background-position: -102px -595px; } 
span.jarplug-emoji-23ec{ background-position: -102px -612px; } 
span.jarplug-emoji-23f0{ background-position: -102px -629px; } 
span.jarplug-emoji-23f3{ background-position: -102px -646px; } 
span.jarplug-emoji-24c2{ background-position: -102px -663px; } 
span.jarplug-emoji-25aa{ background-position: -102px -680px; } 
span.jarplug-emoji-25ab{ background-position: -102px -697px; } 
span.jarplug-emoji-25b6{ background-position: -102px -714px; } 
span.jarplug-emoji-25c0{ background-position: -102px -731px; } 
span.jarplug-emoji-25fb{ background-position: -102px -748px; } 
span.jarplug-emoji-25fc{ background-position: -102px -765px; } 
span.jarplug-emoji-25fd{ background-position: -102px -782px; } 
span.jarplug-emoji-25fe{ background-position: -102px -799px; } 
span.jarplug-emoji-2600{ background-position: -102px -816px; } 
span.jarplug-emoji-2601{ background-position: -102px -833px; } 
span.jarplug-emoji-260e{ background-position: -102px -850px; } 
span.jarplug-emoji-2611{ background-position: -102px -867px; } 
span.jarplug-emoji-2614{ background-position: -102px -884px; } 
span.jarplug-emoji-2615{ background-position: -102px -901px; } 
span.jarplug-emoji-261d{ background-position: -102px -918px; } 
span.jarplug-emoji-263a{ background-position: -102px -935px; } 
span.jarplug-emoji-2648{ background-position: -102px -952px; } 
span.jarplug-emoji-2649{ background-position: -102px -969px; } 
span.jarplug-emoji-264a{ background-position: -102px -986px; } 
span.jarplug-emoji-264b{ background-position: -102px -1003px; } 
span.jarplug-emoji-264c{ background-position: -102px -1020px; } 
span.jarplug-emoji-264d{ background-position: -102px -1037px; } 
span.jarplug-emoji-264e{ background-position: -102px -1054px; } 
span.jarplug-emoji-264f{ background-position: -102px -1071px; } 
span.jarplug-emoji-2650{ background-position: -102px -1088px; } 
span.jarplug-emoji-2651{ background-position: -102px -1105px; } 
span.jarplug-emoji-2652{ background-position: -102px -1122px; } 
span.jarplug-emoji-2653{ background-position: -102px -1139px; } 
span.jarplug-emoji-2660{ background-position: -102px -1156px; } 
span.jarplug-emoji-2663{ background-position: -102px -1173px; } 
span.jarplug-emoji-2665{ background-position: -102px -1190px; } 
span.jarplug-emoji-2666{ background-position: -102px -1207px; } 
span.jarplug-emoji-2668{ background-position: -102px -1224px; } 
span.jarplug-emoji-267b{ background-position: -102px -1241px; } 
span.jarplug-emoji-267f{ background-position: -102px -1258px; } 
span.jarplug-emoji-2693{ background-position: -102px -1275px; } 
span.jarplug-emoji-26a0{ background-position: -102px -1292px; } 
span.jarplug-emoji-26a1{ background-position: -102px -1309px; } 
span.jarplug-emoji-26aa{ background-position: -102px -1326px; } 
span.jarplug-emoji-26ab{ background-position: -102px -1343px; } 
span.jarplug-emoji-26bd{ background-position: -102px -1360px; } 
span.jarplug-emoji-26be{ background-position: -102px -1377px; } 
span.jarplug-emoji-26c4{ background-position: -102px -1394px; } 
span.jarplug-emoji-26c5{ background-position: -102px -1411px; } 
span.jarplug-emoji-26ce{ background-position: -102px -1428px; } 
span.jarplug-emoji-26d4{ background-position: -102px -1445px; } 
span.jarplug-emoji-26ea{ background-position: -102px -1462px; } 
span.jarplug-emoji-26f2{ background-position: -102px -1479px; } 
span.jarplug-emoji-26f3{ background-position: -102px -1496px; } 
span.jarplug-emoji-26f5{ background-position: -102px -1513px; } 
span.jarplug-emoji-26fa{ background-position: -102px -1530px; } 
span.jarplug-emoji-26fd{ background-position: -102px -1547px; } 
span.jarplug-emoji-2702{ background-position: -102px -1564px; } 
span.jarplug-emoji-2705{ background-position: -102px -1581px; } 
span.jarplug-emoji-2708{ background-position: -102px -1598px; } 
span.jarplug-emoji-2709{ background-position: -102px -1615px; } 
span.jarplug-emoji-270a{ background-position: -102px -1632px; } 
span.jarplug-emoji-270b{ background-position: -102px -1649px; } 
span.jarplug-emoji-270c{ background-position: -102px -1666px; } 
span.jarplug-emoji-270f{ background-position: -102px -1683px; } 
span.jarplug-emoji-2712{ background-position: -102px -1700px; } 
span.jarplug-emoji-2714{ background-position: -102px -1717px; } 
span.jarplug-emoji-2716{ background-position: -102px -1734px; } 
span.jarplug-emoji-2728{ background-position: -102px -1751px; } 
span.jarplug-emoji-2733{ background-position: -102px -1768px; } 
span.jarplug-emoji-2734{ background-position: -102px -1785px; } 
span.jarplug-emoji-2744{ background-position: -102px -1802px; } 
span.jarplug-emoji-2747{ background-position: -102px -1819px; } 
span.jarplug-emoji-274c{ background-position: -102px -1836px; } 
span.jarplug-emoji-274e{ background-position: -102px -1853px; } 
span.jarplug-emoji-2753{ background-position: -102px -1870px; } 
span.jarplug-emoji-2754{ background-position: -102px -1887px; } 
span.jarplug-emoji-2755{ background-position: -102px -1904px; } 
span.jarplug-emoji-2757{ background-position: -102px -1921px; } 
span.jarplug-emoji-2764{ background-position: -102px -1938px; } 
span.jarplug-emoji-2795{ background-position: -102px -1955px; } 
span.jarplug-emoji-2796{ background-position: -102px -1972px; } 
span.jarplug-emoji-2797{ background-position: -102px -1989px; } 
span.jarplug-emoji-27a1{ background-position: -119px 0; } 
span.jarplug-emoji-27b0{ background-position: -119px -17px; } 
span.jarplug-emoji-27bf{ background-position: -119px -34px; } 
span.jarplug-emoji-2934{ background-position: -119px -51px; } 
span.jarplug-emoji-2935{ background-position: -119px -68px; } 
span.jarplug-emoji-2b05{ background-position: -119px -85px; } 
span.jarplug-emoji-2b06{ background-position: -119px -102px; } 
span.jarplug-emoji-2b07{ background-position: -119px -119px; } 
span.jarplug-emoji-2b1b{ background-position: -119px -136px; } 
span.jarplug-emoji-2b1c{ background-position: -119px -153px; } 
span.jarplug-emoji-2b50{ background-position: -119px -170px; } 
span.jarplug-emoji-2b55{ background-position: -119px -187px; } 
span.jarplug-emoji-3030{ background-position: -119px -204px; } 
span.jarplug-emoji-303d{ background-position: -119px -221px; } 
span.jarplug-emoji-3297{ background-position: -119px -238px; } 
span.jarplug-emoji-3299{ background-position: -119px -255px; } 
span.jarplug-emoji-bowtie{ background-position: -119px -272px; } 
span.jarplug-emoji-feelsgood{ background-position: -119px -289px; } 
span.jarplug-emoji-finnadie{ background-position: -119px -306px; } 
span.jarplug-emoji-goberserk{ background-position: -119px -323px; } 
span.jarplug-emoji-godmode{ background-position: -119px -340px; } 
span.jarplug-emoji-hurtrealbad{ background-position: -119px -357px; } 
span.jarplug-emoji-metal{ background-position: -119px -374px; } 
span.jarplug-emoji-neckbeard{ background-position: -119px -391px; } 
span.jarplug-emoji-octocat{ background-position: -119px -408px; } 
span.jarplug-emoji-rage1{ background-position: -119px -425px; } 
span.jarplug-emoji-rage2{ background-position: -119px -442px; } 
span.jarplug-emoji-rage3{ background-position: -119px -459px; } 
span.jarplug-emoji-rage4{ background-position: -119px -476px; } 
span.jarplug-emoji-shipit{ background-position: -119px -493px; } 
span.jarplug-emoji-squirrel{ background-position: -119px -510px; } 
span.jarplug-emoji-suspect{ background-position: -119px -527px; } 
span.jarplug-emoji-trollface{ background-position: -119px -544px; } 

